@using Entities.Dtos;
@model Mvc.Models.ArticleDetailViewModel;
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = Model.ArticleDetailRightSideBarViewModel.Header;
    ViewBag.Description = Model.ArticleDto.Article.SeoDescription;
    ViewBag.Author = Model.ArticleDto.Article.SeoAuthor;
    ViewBag.Tags = Model.ArticleDto.Article.SeoTags;
}

<!-- Post Content Column -->
<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">@Model.ArticleDto.Article.Title</h1>

    <!-- Author -->
    <p class="lead">
        @Model.ArticleDto.Article.User.UserName tarafından @Model.ArticleDto.Article.CreatedDate.ToShortDateString() tarihinde paylaşılmıştır
    </p>

    <hr>

    <!-- Preview Image -->
    <div class="text-center">
        <img class="img-fluid rounded" src="~/img/@Model.ArticleDto.Article.ArticleThumbnail" alt="@Model.ArticleDto.Article.Title">
    </div>
    <hr>

    <!-- Post Content -->
    @Html.Raw(@Model.ArticleDto.Article.Content)
    <hr>
    <p class="text-center">Okunma Sayısı: <span class="badge badge-info" style="background-color: #808080">@Model.ArticleDto.Article.ArticleView</span> Yorum Sayısı: <span class="badge badge-warning" style="background-color: #0f0f0f">@Model.ArticleDto.Article.ArticleComment</span></p>

    <!-- Comments Form -->
    <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{ArticleId = Model.ArticleDto.Article.ID}" />

    <div id="comments">
        @foreach (var comment in Model.ArticleDto.Article.Comments)
        {
            <!-- Single Comment -->
            <div class="media mb-4" style="display: flex">
                <img class="d-flex mr-3 ml-3 rounded-circle" style="max-height: 100px" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                <div class="media-body" style="display: block; margin-left: 20px">
                    <h5 class="mt-0">@comment.CreatedByName</h5>
                    @comment.CommentContent
                </div>
            </div>
        }
    </div>
</div>
<partial name="_ArticleDetailRightSideBarPartial" model="@Model.ArticleDetailRightSideBarViewModel"/>
@section Scripts{
    <script src="~/BlogHome/js/articleDetail.js" type="text/javascript"></script>
}